*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    background: blue;
    padding: 30px;
    color: white;
}
@media (max-width: 1025px) {
    .box {
        background: red;
    }
}
@media (max-width: 600px) {
    .box {
        background: green;
    }
}